@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root {
    --gradient: linear-gradient(135deg, #667eea 0%, #764ea2 100%);
    --gradient1: linear-gradient(135deg, #667eea86 0%, #764ba28e 100%);
    --url-img: url("img/bg.jpg");
    --box-shadow: 0px 0px 13px rgba(0,0,0,.7);
    --width: 100%;
    --radius: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    background-image: var(--gradient1), var(--url-img);
    background-size: cover;
    background-position: center;
}

.form {
    width: 400px;
    background: #fff;
    margin: 20% auto;
    padding: 30px 20px 40px;
    text-align: center;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.input {
    width: var(--width);
    padding: 20px 5px;
    display: block;
    margin-bottom: 20px;
    border: 1px solid #b39b9b;
    outline: none;
}

.input, .form__submit {
    font-family: inherit;
}

.form__title {
    margin-bottom: 40px;
    font-size: 2rem;
}

.form__message {
    max-width: var(--width);
    min-width: var(--width);
    min-height: 150px;
    max-height: 150px;
}

.form__submit {
    display: block;
    width: var(--width);
    font-size: 18px;
    background-image: var(--gradient);
    padding: 15px 30px;
    border: none;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.form__submit:hover {
    background-image: var(--gradient1);
}